<app-navbar />
<p-card header="Dashboard">
    <div *ngIf="!files || files.length === 0;">
        No files uploaded yet.
    </div>
    
    <div *ngIf="files && files.length > 0" class="card">
        <p-table [value]="files" >
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Url</th>
                    <th>Created at</th>
                    <th>Download</th>
                    <th>Delete</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-file>
                <tr>
                    <td>{{ file.name }}</td>
                    <td>{{ file.url }}</td>
                    <td>{{ file.createdAt | date }}</td>
                    <td>
                        <p-button label="Download" icon="pi pi-download" size="small" [outlined]="true" (onClick)="download(file.id, file.name)"/>
                    </td>
                    <td>
                        <p-button label="Delete" icon="pi pi-trash" size="small" severity="danger" [outlined]="true" (onClick)="delete(file.id)"/>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    
</p-card>